
@{
    ViewBag.Title = "VerifyEmail";
}

<h2>VerifyEmail</h2>
<p>
    Please check your email and click the link provided to verify your account.
</p>
<p>
    Need help? Click the contact button above to email an administrator.
</p>