@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Texchange</h1>
    <p class="lead text-center">Texchange helps students borrow & lend text books at QUT.</p>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <h2>Borrow</h2>
            <p>
                Borrowing textbooks is easy with Texchange - just search and choose from available books.
            </p>
        </div>
        <div class="row">
            <a href="Books" class="btn btn-primary btn-lg">Search Now &raquo;</a>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <h2>Lend</h2>
            <p>
                Sharing is caring. Allow your fellow students to borrow your spare text books. As a bonus, lenders can borrow more books!
            </p>
        </div>
        <div class="row">
            <a href="Account/Register" class="btn btn-primary btn-lg">Sign Up &raquo;</a>
        </div>
</div>