@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutOption.cshtml";
}

<header>
    <div class="header-content">
        <div class="header-content-inner">
    <h1 class="text-center">Texchange</h1>
            <hr />
            <p class="lead text-center">Borrow & lend textbooks at QUT.</p>
        </div>
        <div class="search-form">
            <form class="form-inline" role="form" action="/books" method="post" style="padding-top:8px;">
                <div class="form-group">
                    @Html.TextBox("searchQuery", "", new { name = "name", @id = "indexSearchControl", @class = "form-control home", style = "width: 250px;" })
                </div>
                <button type="submit" class="btn btn-default btn-transparent">Search</button>
            </form>
        </div>
</div>
</header>

@section scripts {
<script src="~/Scripts/AnimateSearchSuggestions.js"></script>
<script src="~/Scripts/AutocompleteSearchSuggestions.js"></script>
}