@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutOption.cshtml";
}

@{
    List<string> searchExamples = new List<string>(new string[] {
        "A Brief History of the Universe",
        "Calculus 101",
        "Economics for the New Student",
        "Networks and Their Uses",
        "The Mysteries of Human Anatomy"
    });
    int sizeOfList = searchExamples.Count;
    Random rnd = new Random();
    string example = "eg, " + searchExamples[rnd.Next(sizeOfList)];
}

<header>
    <div class="header-content">
        <div class="header-content-inner">
    <h1 class="text-center">Texchange</h1>
            <hr />
            <p class="lead text-center">Borrow & lend text books at QUT.</p>
        </div>
        <div class="search-form">
            <form class="form-inline" role="form" action="/books" method="post" style="padding-top:8px;">
                <div class="form-group">
                    @Html.TextBox("searchQuery", "", new { name = "name", @class = "form-control", placeholder = example, style = "width: 250px;" })
                </div>
                <button type="submit" class="btn btn-default btn-transparent">Search</button>
            </form>
        </div>
</div>
</header>
    


@*<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <h2>Borrow</h2>
            <p>
                Borrowing textbooks is easy with Texchange - just search and choose from available books.
            </p>
        </div>
        <div class="row">
            <a href="Books" class="btn btn-primary btn-lg">Search Now &raquo;</a>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <h2>Lend</h2>
            <p>
                Sharing is caring. Allow your fellow students to borrow your spare text books. As a bonus, lenders can borrow more books!
            </p>
        </div>
        <div class="row">
            <a href="Account/Register" class="btn btn-primary btn-lg">Sign Up &raquo;</a>
        </div>
</div>*@