@{
    ViewBag.Title = "Terms and Conditions";
}

<h2>@ViewBag.Title.</h2>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <p>Last updated: October 11, 2015</p>

            <p>Please read these Terms of Service ("Terms", "Terms of Service", "ToS") carefully before using the texchange.xyz website (the "Service") operated by Texchange ("us", "we", or "our").</p>

            <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>

            <p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>

            <p><strong>Accounts And Information</strong></p>

            <p>When you create an account with us, you may choose what information you provide and the accuracy of such. Note that accurate information will lead to better Service and avoid possible confusions.</p>

            <p>It is a condition of these terms that you must be a student of the Queensland University of Technology (QUT) and have a working email to sign up to, and us, this Service.</p>

            <p>You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.</p>

            <p>You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>

            <p>By providing this information to us you agree for it to be stored and used by this Service. This can include making your email, name and contact numbeer available to other users of the Service.<p>

            <p><strong>Termination</strong></p>

            <p>We may terminate or suspend your access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>

            <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>

            <p>We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>

            <p>Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.</p>

            <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>

            <p><strong>Service Content</strong></p>

            <p>Book listing content from this Service is largely user generated. We hold no liability to any indecent content added to our Service.</p>

            <p>If you feel offended or threatened by anything uploaded by another user of this Service please contact us.</p>

            <p><strong>Virtual Currency</strong></p>

            <p>Tokens and all other virtual currency are property of Texchange and may be used for exchange of books within our Service.</p>

            <p>We hold the right to, at any time and without consent or notice, change the token balance of any user for any reason.</p>

            <p><strong>Copyright Infringement Notices</strong></p>

            <p>If you are a content holder and feel anything in our Service is infringing on your copyrights please contact us and we will remove infringing material.</p>

            <p><strong>Governing Law</strong></p>

            <p>These Terms shall be governed and construed in accordance with the laws of Queensland, Australia, without regard to its conflict of law provisions.</p>

            <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>

            <p><strong>Changes</strong></p>

            <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 15 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

            <p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>

            <p><strong>Contact Us</strong></p>

            <p>If you have any questions about these Terms, please contact us.</p>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" />
}